body{
	display: flex;
	justify-content: center;
}
main{
	border: 2px solid blue;
	border-radius: 20px;
	padding: 10px 20px;
	width:500px;
}

h1{
	margin: 0px;
	color: blue;
}

.error{
	color: red;
	font-weight: bold;
}

#buttons{
	margin-top: 10px;
	text-align: center;
}