main {
  background-color: goldenrod;
  margin: 20px 30vh;
  padding: 50px 20vh;
  color: white;
}

.page_information {
  text-align: center;
}

.img-logo,
.img-profile {
  width: 90%;
  max-width: 500px;
  background-color: white;
  border: 5px solid white;
  border-radius: 15px;
}

.img-profile {
  border-radius: 50%;
}
#application_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.error {
  color: red;
}

.btn {
  width: 100px;
  align-self: center;
  font-size: large;
}

@media only screen and (max-width: 900px) {
  main {
    margin: 10vh;
    padding: 10vh;
  }
}
